torch==2.4.0
torchvision==0.19.0
diffusers==0.27.2
transformers==4.47.0
accelerate==0.32.1
safetensors==0.4.4
Pillow==11.1.0
opencv-python==4.10.0.84
huggingface_hub==0.24.0
peft==0.12.0
numpy==1.26.4